body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 16px;
    background-color:black
}
img {

    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;

}

/* Exemplo de estilização para títulos */
h1 {
    color: red;
    text-align: center;
}
h2 {
    color: blue;
    text-align: center;
}

/* Exemplo de borda arredondada para imagens do rodapé */
footer img {
    border-radius: 50%;
    border: 5px solid green;
    width: 100px;
    height: 150px;
    object-fit: cover;
}

/* Responsividade para telas pequenas */
@media screen and (max-width: 600px) {
    body {
        padding: 8px;
    }
    ul {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px;
    }
    header img {
        width: 120px;
        height: 120px;
          border: 5px solid green;
           border-radius: 50%;
    }
    main img {
        max-width: 100%;
        width: 100%;
        height: auto;
        margin: 0 auto;
        
    footer img {
        width: 70px;
        height: 70px;
      
    }
    h1, h2 {
        font-size: 1.2em;
        text-align: center;
    }
}
